body {
    background-color: #fff;
}

.appbar {
    background-color: #000;
    box-sizing: border-box;
    height: 70;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.appbar .title {
    color: #fff;
    font-weight: 500;
    font-size: 35;
}

.main_body {

}

.main_body .bg-black-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 500;
    width: 100vw;
    z-index: -1;
    background-color: #000;
}

.form-container {
    background-color: #fff;
}

.input-style {
    text-indent: 5px;
    height: 60px;
    border-color: #000;
    border-radius: 0;
    box-shadow: none;
}

.input-style:focus {
    /* border-color: red; */
    border: 3px solid #b9ff40;
    box-shadow: none;
}

.submit-button {
    background-color: #b9ff40;
    border: 0px;
    color: #000;
    font-weight: 500;
}
.submit-button:active {
    background-color: #b9ff40;
}
.submit-button:focus {
    background-color: #b9ff40;
}
.submit-button:hover {
    background-color: #b9ff40;
}

.footer-container {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    min-height: 200;
}

.radio-container {
    display: block;
    position: relative;
    width: 50px;
    cursor: pointer;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-vehicle-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

.radio-container:hover input ~ .radio-vehicle-icon {
    /* background-color: #ccc; */
}

.radio-container input:checked ~ .radio-vehicle-icon {
    color: #b9ff40;
}

.vehicle-type-container {
    text-indent: 5px;
    height: 60px;
    padding: 0px 10px;
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
}

.vehicle-type-input:read-only {
    background-color: #fff;
}

.vehicle-type-input:focus {
    /* background-color: red; */
    border: 3px solid #b9ff40;
    box-shadow: none;
}