* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.root {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.calcRoot {
    width: 280px;
    height: 88%;
    padding: 6px;
    /* border: 3px solid #000; */
    background-color: #1c1c1c;
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
   align-items: flex-end;
    background-color: #1c1c1c;
    min-height: 150px;
    color: #fff;
}

.inputString {
    color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    /* background-color: red; */
    padding-left: 8px;
}

.inputString span {
    color: rgba(255, 166, 0, 0.8);
}

.outputString {
    color: #fff;
    font-size: 40px;
}

.bGrid {
    display: flex;
    padding: 3px 3px;
    align-items: stretch;
}

.button {
    height: 50px;
    display: flex;
    flex-grow: 1;   
    justify-content: center;
    align-items: center;
    background-color: #454343;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.operator {
    background-color: rgba(255, 166, 0, 0.8);
}

.equal {
    background-color: #2effc4;
}

.clear {
    background-color: rgba(255, 128, 128, 0.3);
    color: rgba(255, 128, 128, 1);
}

@media only screen and (max-width: 600px) {
    .calcRoot {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .mobEqualWidth {
        padding-top: 100%;
    }

    .bGrid {
        padding: 4px 4px;
    }

    .button {
        border-radius: 25px;
    }

    .button span.number {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
    }

    .outputString {
        font-size: 60px;
    }

    .inputString {
        font-size: 25px;
    }
    
}